.button {
  margin-right: 2px;
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 15px;
  padding: 5px;
}

.resumeButton {
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 25px;
  font-size: 20px;
  font: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.foot {
  margin-top: 50px;
  font-family: "'Roboto','Helvetica','Arial',sans-serif;";
  display: flex;
  justify-content: center;
  padding: 40px;
  color: white;
  background: linear-gradient(170deg, deepskyblue, navy 80%);
}

@media (max-width: 1307px) {
  .foot {
    margin-top: 10px;
    padding-top: 13px;
  }
}

@media (max-width: 375px) {
  .foot {
    margin-top: 132px;
  }
  .button {
    margin: 3px;
    padding-top: 2px;
  }
  .h3 {
    font-size: 18px;
  }
  .h6 {
    font-size: 13px;
  }
  .h5 {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .foot {
    margin-top: 17px;
    padding-top: 35px;
  }
  .resumeButton {
    margin-top: 50px;
  }
  .h3 {
    font-size: 22px;
  }
  .h6 {
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .foot{
    margin-top: 100px;
    padding-top:27px;
  }
  .h3 {
    font-size: 30px;
  }
  .h6 {
    font-size: 18px;
  }
  .h5{
    font-size: 13px;
  }
}
