/* .button {
  margin-right: 2px;
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 15px;
  padding: 5px;
} */

/* .resume {
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 25px;
  font-size: 20px;
  font: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
} */

.foot {
  margin-top: 40px;
  display: flex;
  width:100%;
  
  justify-content: center;
  position:fixed;
  padding: 10px;
  color: white;
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  bottom:0;
}
.h3, .text, .h4 {
  color:white;
}

.h3 {
  padding-top:"10px";
}

.text {
  font-size: 20px;
  
}

.input {
  background:white;
  border-radius: "4px";
}


@media (max-width: 1307px) {
  .foot {
   
  }
}

@media (max-width: 375px) {
  .foot {
   
  }
  .button {
    margin: 3px;
    padding-top: 2px;
  }
  .h3 {
    font-size: 18px;
  }
  .h6 {
    font-size: 13px;
  }
  .h5 {
    font-size: 13px;
  }
}

