 

.button {
  margin-right: 2px;
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 15px;
  padding: 5px;
}

.resumeButton{
  background: linear-gradient(170deg, deepskyblue, navy 80%);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font: bold;
   padding-bottom: 10px;
  margin-bottom:10px; 

} 




